:root {
    --black: #04214f;
    --grey: #6a748a;
    --blue1: #20497a;
    --blue2: #bccee3;
    --brown: #5e4d09;
}

.sidebar #overview-begin{
    margin: 1em 0 0 0;
}
.sidebar li{
    font-size: 1.2em;
    padding: 0.15em;
}
.sidebar a {
    text-decoration: none;
}

.sidebar *{
    color: var(--black);
    margin: 0;
}

.sidebar{
    font-family: 'Source Sans Pro', sans-serif;
    position: sticky;
    top: 2em;
    border-right: 3px solid var(--blue1);
}

